<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="msfGameScore">
            <h2><span>Msf Game Score</span> {{msfGameScore.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Current Quarter</span></dt>
                <dd>
                    <span>{{msfGameScore.currentQuarter}}</span>
                </dd>
                <dt><span>Seconds</span></dt>
                <dd>
                    <span>{{msfGameScore.seconds}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/msf-game-score', msfGameScore.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
